@charset "UTF-8";

/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * source-code-pro:
 *   - http://typekit.com/eulas/0000000000000000000179d5
 *
 * © 2009-2018 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-12-05 15:17:56 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=vtj0uac&ht=tk&f=17451&a=10564318&app=typekit&e=css");

@font-face {
font-family:"source-code-pro";
src:url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/756772/0000000000000000000179d5/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-style:normal;font-weight:700;
}

.tk-source-code-pro { font-family: "source-code-pro",monospace; }


#title {
	font-family: "source-code-pro";
	font-weight: bold;
	margin-top: 40px;
	font-size: 23px;
	font-style: italic;
	text-align: center;
}

#main_img{
	text-align: center;
	margin: inherit;
	color: #000000;
}

#nav1 {
	font-family: "source-code-pro";
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-style:normal;
	display: inline;
	color: #000000;
}

#nav2 {
	font-family: "source-code-pro";
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-style:normal;
	display: inline;
}

#nav3 {
	font-family: "source-code-pro";
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-style:normal;
	display: inline;
}

#nav4 {
	font-family: 'source-code-pro';
	font-weight: bold;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 15px;
	font-style:normal;
	display: inline;
}

.centernav {
	text-align: center;
	margin: inherit;
	margin-left: -50px;
	color: #000000;
	
}

p {
	font-family: 'source-code-pro';
	font-style:normal;
	font-size: 12px;
	margin-left: 40%;
	margin-right: 40%;
	margin-top: 20px;
	text-align: center;
}

#frontimage {
	margin: auto;
	margin-top: 10px;
}

#frontimage1 {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

#frontimage2 {
	margin: auto;
	margin-top: 10px;
	margin-left: 10px;
	text-align: center;
}

a { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:#cc3333; }
a:focus { text-decoration: none; color:#cc3333; }
a:hover, a:active { text-decoration: none; color:#cc3333; }

footer {
	font-family: 'source-code-pro';
	font-weight: 600;
	font-size: 12px;
	text-align: center;
	margin: inherit;
	color: #000000;
}

