/* CSS Document */
.pdf {
	margin: 15px;
	padding: 15px;
}

footer {
	font-family: 'source-code-pro';
	font-weight: 600;
	font-size: 15px;
	text-align: center;
	margin: inherit;
	color: #000000;
}

a { text-decoration: none; color:black; }
a:visited { text-decoration: none; color:black; }
a:hover { text-decoration: none; color:#cc3333; }
a:focus { text-decoration: none; color:#cc3333; }
a:hover, a:active { text-decoration: none; color:#cc3333; }
